{% extends "padre.html" %} <!--cambiar inicio por padre-->

{% load static %}


{% block titulo %}
<h1 class="mb-5">Formulario de Busqueda de Profesores</h1>
{% endblock %}

{% block imagen1%}
<br>
<br>
<div style="background-image: url('{% static '/AppFinal/assets/img/profesores.jpeg' %}'); width: 300px; height: 300px;; margin: 0 auto;"></div>
{% endblock %}

{% block contenido1 %}

<h1> Ingresa el nombre del Profesor que buscas </h1>

<form action="{% url 'buscar' %}" method='GET'>

    <input type= "text" name="nombre" id="nombre">
    
    <input type= "submit" value="buscar">

</form>

{{ mensaje }}

{% endblock %}

