{% extends "padre.html" %}

{% load static %}

{% block titulo %}
<h1 class="mb-5">EDITAR PROFESOR {{ profesor}} </h1>
{% endblock %}

{% block imagen1 %}
<br>
<br>
<div style="background-image: url('{% static '/AppFinal/assets/img/compartir.jpeg' %}'); width: 300px; height: 300px;; margin: 0 auto;"></div>
{% endblock %}

{% block contenido1 %}
<h1>Editando: </h1>

<form action="{% url 'editarProfesor' profesor.id %}" method="POST"> {% csrf_token %}

    
    <table>

        {{ form.as_table }}

    </table>

<input type="submit" value="Editar Profesor">


</form>

{% endblock %}