{% extends "padre.html" %} <!--cambiar inicio por padre-->

{% load static %}

{% block titulo %}
<h1 class="mb-5">Trabajos Prácticos</h1>
{% endblock %}

{% block imagen1%}
<br>
<br>
<div style="background-image: url('{% static '/AppFinal/assets/img/compartir.jpeg' %}'); width: 300px; height: 300px;; margin: 0 auto;"></div>
{% endblock %}


{% block contenido1 %}
    <h1>Encontra lo que buscabas </h1>
    <h2>Encontra diferentes trabajos practicos para ayudarte en tu día a día: </h2>
    <h3>Busca por titulo:</h3>
        <a href="{% url 'buscarTrabajo' %}">
            <button>Buscar</button>
        </a>

    <h3>Suma tu aporte:</h3>
        <a href="{% url 'TrabajoPractico_formulario' %}">
            <button>Sumate</button>
        </a>

    <h3>Todos los trabajos de la web: </h3>
        <a href="{% url 'leerTrabajos' %}">
            <button>Todos los T.P</button>
        </a>

{% endblock %}

