{% extends "padre.html" %} <!--cambiar inicio por padre-->

{% load static %}

{% block titulo %}
<h1 class="mb-5">LISTADO DE URLS DE LA PÁGINA</h1>
{% endblock %}

{% block imagen1%}
<br>
<br>
<div style="background-image: url('{% static '/AppFinal/assets/img/trabajos.jpeg' %}'); width: 300px; height: 300px;; margin: 0 auto;"></div>
{% endblock %}

{% block contenido1 %}

<br>

<h1>Las urls disponibles para visitar son: </h1>

<ol>
    <li> admin/ </li>
    <li> AppFinal/ </li>
    <li> AppFinal/profesores/ </li>
    <li> AppFinal/materias/ </li>
    <li> AppFinal/trabajos/ </li>
    <li> AppFinal/Materias_formulario/ </li>
    <li> AppFinal/TrabajoPractico_formulario/ </li>
    <li> AppFinal/Profesores_formulario/ </li>
    <li> AppFinal/busquedaProfesor/</li> 
    <li> AppFinal/buscar/ </li>
    <li> AppFinal/busquedaTrabajo/</li>
    <li> AppFinal/buscarTrabajo/ </li>
    <li> AppFinal/leerProfesores/ </li>
    <li> AppFinal/leerTrabajos/ </li>
    <li> AppFinal/login/ </li> 
    <li> AppFinal/register/ </li>
    <li> AppFinal/editarUsuario/ </li>
    <li> AppFinal/agregarAvatar/ </li>
    <li> AppFinal/sobrenosotros/ </li> 
    <li> AppFinal/chat/</li>
    <li> AppFinal/urlDisponibles</li>

</ol>

{% endblock %}


{% block imagen2%}
{% endblock %}


{% block contenido2 %}

{% endblock %}


{% block imagen3 %}

{% endblock %}

{% block contenido3 %}

{% endblock %}

